<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dbot_mobile">
    
    <!-- Commmon data for the robot. -->
    <xacro:include filename="robot_common.xacro"/>

    <!-- Robot Core -->
    <xacro:include filename="dbot_mobile_core.xacro"/>

    <!-- Gazebo -->
    <xacro:include filename="dbot_mobile_gazebo_control.xacro"/>

</robot>