<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="dbot_mobile">
    
    <!-- Commmon data for the robot. -->
    <xacro:include filename="robot_common.xacro"/>

    <!-- Robot Core -->
    <xacro:include filename="dbot_mobile_core.xacro"/>

    <!-- Gazebo/Ros2 Control -->
    <xacro:include filename="dbot_mobile_gazebo_ros2_control.xacro"/>

    <!-- Lidar -->
    <xacro:include filename="lidar.xacro"/>

    <!-- Camera -->
    <!-- <xacro:include filename="camera.xacro"/> -->

    <!-- Depth Camera -->
    <xacro:include filename="depth_camera.xacro"/>

</robot>